<div class="index_row clearfix">
  <h2 class="todo_list_title">Listado de Tareas</h2>
</div>
<% @todo_lists.each do |todo_list| %>
  <div class="row clearfix">
    <div class="todo_item">
      <p class="todo_list_sub_title"><%= link_to todo_list.nombre, todo_list %> [ Estado : <%= todo_list.estado %> ]</p>
    </div>
  </div>
<% end %>
  <div class="links">
    <%= link_to "Nueva Tarea", new_todo_list_path %>
  </div>